.card {
    width: 22rem;
    max-height: 23rem;
    margin: 5px;
    padding: 5px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-y: scroll;
    position: relative; /* Ensure positioning context for delete button */
}

.card::-webkit-scrollbar {
    width: 0%;
}

img {
    width: 100%;
    max-height: 200px;
    object-fit: cover; 
}

.tag {
    margin: 2px;
    padding: 2px 4px;
    border-radius: 4px;
    background-color: #eee;
    font-size: 0.9rem;
    color: #333;
    display: inline-block;
}

.card .delete-button {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    right: 10px; /* Align to the left */
    font-size: 1.5rem; /* Increase the size */
    cursor: pointer;
    color: #ff0000; /* Color for delete button */
}

.card .delete-button:hover {
    color: #cc0000; /* Hover color */
}
